<footer>
        <div class="footerToBackground"></div>
        <div class="mainFooter">
            <div class="footer1">
                <p><a href=""><i class="fab fa-facebook-square"></i></a></p>
                <p><a href=""><i class="fab fa-twitter-square"></i></a></p>
                <p><a href=""><i class="fab fa-instagram"></i></a></p>
            </div>
            <div class="footer2">
                <ul>
                    <li><a href="#">Confidentialité</a></li>
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Qui sommes-nous?</a></li>
                </ul>
            </div>
            <div class="footer3">
                <p><a href=""><i class="fas fa-truck"></i></a></p>
                <p><a href=""><i class="fas fa-money-check-alt"></i></a></p>
                <p><a href=""><i class="fab fa-cc-paypal"></i></a></p>
            </div>
        </div>
        <p class="copyr">copyright Odiletot 2021</p>
        </div>
    </footer>